%h1
  Reproduction of Kaminari
  = link_to "GitHub Issue 804", 'https://github.com/amatsuda/kaminari/issues/804'

%p
  = link_to "An ERB page with pagination (OK)", contacts_path
%p
  = link_to "A HAML page with pagination (BOOM!)", contacts_haml_index_path